<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class: "text-primary" %></h1>

  <h3><%= title "Weather forecast" %></h3>

  <form action="/weather/forecast/search" method="get" class="my-3">
    <div class="row g-3">
      <div class="col">
        <input type="text" class="form-control" id="city" name="city" placeholder="City">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <p>Data available for <%= pluralize(@total, "city") %></p>
</div>
