<div class="container container-narrow py-4">
  <h1 class="display-1 fw-bold mb-3 position-relative">
    <%= link_to "Geonde", api_path, class: "text-primary-gradient" %>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger fs-5">alpha</span>
  </h1>

  <h3><%= title "Weather conditions" %></h3>

  <form action="/api/weather/conditions/search" method="get" class="my-3">
    <div class="row g-3">
      <div class="col">
        <input type="text" class="form-control" id="airport" name="airport" placeholder="Airport code">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <p class="text-secondary">Data available for <%= pluralize(@total, "airport") %></p>
</div>
