<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class: "text-primary" %></h1>

  <h3><%= title "Weather conditions" %></h3>

  <form action="/weather/conditions/search" method="get" class="my-3">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="airport" name="airport" placeholder="Airport code">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <p>Data available for <%= pluralize(@total, "airport") %></p>
</div>
