<div class="container py-4">
  <h2>Weather Data</h2>

  <h3>Location</h3>
  <form action="/weather/forecast" method="get">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="location" name="location">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
