<div class="container container-narrow py-4">
  <h1 class="display-1 fw-bold mb-3 position-relative">
    <%= link_to "Geonde", api_path, class: "text-primary-gradient" %>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger fs-5">alpha</span>
  </h1>

  <h3><%= title "Weather data" %></h3>
  <ul>
    <li><%= link_to "Weather conditions", api_weather_conditions_path %></li>
    <li><%= link_to "Weather forecast", api_weather_forecast_path %></li>
  </ul>
</div>
