<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class:"text-primary" %></h1>

  <h3><%= title "Weather Data" %></h3>

  <form action="/weather/conditions" method="get" class="mt-3">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="city" name="city" placeholder="City">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
