<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class: "text-primary" %></h1>

  <h3><%= title "Weather Data" %></h3>
  <ul>
    <li><%= link_to "Weather Conditions", weather_conditions_path %></li>
    <li><%= link_to "Weather Forecast", weather_forecast_path %></li>
  </ul>
</div>
