<div class="container py-4">
  <h1 class="display-1 fw-bold">Viridis</h1>

  <h3>Electricity Generation</h3>
  <p><code>/api/electricity/:country</code></p>

  <h3>Electricity Emissions</h3>
  <p><code>/api/electricity/:country/emissions</code></p>
</div>
