<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Vinua API", root_path, class:"text-primary" %></h1>

  <h3><%= link_to "Electricity Generation", electricity_path, class: "text-body" %></h3>
  <p><code>/electricity/:country/generation.json</code></p>

  <h3><%= link_to "Electricity Emissions", electricity_path, class: "text-body" %></h3>
  <p><code>/electricity/:country/emissions.json</code></p>

  <h3><%= link_to "Weather Conditions", weather_path, class: "text-body" %></h3>
  <p><code>/weather/:city/conditions.json</code></p>
</div>
