<div class="container container-narrow py-4">
  <h1 class="display-1 fw-bold mb-3 position-relative">
    <%= link_to "Geonde", api_path, class: "text-primary-gradient" %>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger fs-5">alpha</span>
  </h1>

  <h3><%= title "Geocode data" %></h3>

  <ul>
    <li><%= link_to "Geocode search", api_geocode_search_path %></li>
  </ul>
</div>
