<div class="container py-4">
  <h2>Electricity Data</h2>
  <%= link_to "Emissions table", "/electricity/emissions" %>

  <h3 class="mt-3">Countries</h3>
  <ul>
    <% Country.codes.each do |code| %>
      <li><%= link_to code, "/electricity/#{code}" %></li>
    <% end %>
  </ul>
</div>
