<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class: "text-primary" %></h1>

  <h3><%= title "Electricity data" %></h3>
  <ul>
    <li><%= link_to "Electricity generation", electricity_generation_path %></li>
    <li><%= link_to "Electricity emissions", electricity_emissions_path %></li>
  </ul>
</div>
