<div class="container py-4">
  <h1 class="display-1 fw-bold"><%= link_to "Viridis", root_path, class:"text-primary" %></h1>

  <h3>Electricity Data</h3>
  <ul>
    <% Country.all.sort_by(&:name).each do |country| %>
      <li><%= link_to country.name, "/electricity/#{country.code}" %></li>
    <% end %>
  </ul>
</div>
